p {
    font-family: 'Lato', sans-serif;
}

h1 {
    font-family: 'Raleway',
    sans-serif;
    font-weight: 100;

}

body {
    top: 0;
    margin: 0;
    padding: 0;
}

a:visited{
    color: black;
    text-decoration:none;
}

nav {
    height: 60px;
    width: 100%;
    background-color: white;
    margin: 0px;
    text-align: right;
    border-bottom: 1px solid lightgray;



}

nav a {
    display: inline-flex;
    margin: 1vw;
    font-family: 'Raleway',
    sans-serif;
    font-size: 1.1em;
    line-height: 20px;
    margin-right: 3vw;

}

a:link {
    text-decoration: none;
    color: black;
}

#logo {
    width: 400px;
    height: 60px;
    text-align: left;
    display: block;
    border-bottom: 1px solid lightgray;
    cursor: pointer;

}

#logo h1 {
    font-size: 1.1em;
    font-weight: 200;
    line-height: 28px;
    margin-left: 3vw;

}

header {
    position: fixed;
    top: 0px;
    display: flex;
    background: white;
    width: 100%;

}

#forside img {
    width: 100%;
    height: 100%;
}


#cv img {
    margin-left: 15vw;
    margin-top: 10vw;

}

.mig {
    display: flex;
    flex-wrap: wrap;
}

.txt {
    margin-left: 8vw;
    margin-top: 10vw;
    text-align: center;
    margin-right: 15vw;
}

.txt h1 {
    font-size: 2em;
    font-weight: 100;
}

.txt p {
    font-size: 1em;
}

.button {
    background-color: white;
    color: black;
    padding: 16px 32px;
    text-align: center;
    font-size: 1em;
    font-family: font-family: 'Lato', sans-serif;
    border: 2px solid black;
    margin: 4px 2px;

    transition: 0.2s;

}

.button:hover {
    border: 2px solid #e4d0d1;
    background-color: #e4d0d0;
    transform: scale(1.02);
}

.button p {}

#billeder {
    margin-top: 10vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: 10vw;

}

#billeder img {
    width: 24%;
    align-items: center;
}


#billeder1 {
    margin-top: 10vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: 10vw;

}

.boks1 {
    width: 350px;
    height: 350px;
    border: 2px solid black;
    background-color: white;
    transition: 0.2s;
}

.boks1 p {
    font-size: 2.5em;
    font-weight: 0;
    text-decoration: underline;
}

.boks1:hover {
    border: 2px solid #e4d0d1;
    background-color: #e4d0d0;
    transform: scale(1.02);
}

/*
.container{
    position: relative;
    width: 50%;
}

.image{display: block;
width: 100%;
height: auto;
}

.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #e4d0d0;
}

.container:hover .overlay{
    opacity: 1;
}
.tekst{
    color: white;
    position: absolute;
}
*/

/*
.boks3{
    width: 500px;
    height: 500px;;
    border: 4px solid black;
}

.boks3 p{
    text-decoration: underline;
    font-size: 3em;
    font-weight: 100;
    text-align: center;
    margin-top: 10vw;
}
*/

/*#top{
height: 120vh;
    width: 100%;
    background-image: url(forside3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
}
*/

/* HTML OPGAVE OPSÆTNING*/

#overskrift {
    margin-top: 10vw;
    font-weight: 100;
    margin-left: 3vw;
    margin-right: 5vw;

    width: 950px;
}

#overskrift h1 {
    font-size: 2em;
}

#link_website {
    border: 2px solid black;
    width: 250px;
    height: 220px;
    text-align: center;
    margin-top: 12vw;
    margin-right: 1vw;
    transition: 0.2s;


}

#link_website p {
    margin-top: 4.2vw;
    font-size: 1.3em;

}

#link_website:hover {
    width: 250px;
    height: 220px;
    border: 2px solid #e4d0d1;
    background-color: #e4d0d0;
    transform: scale(1.02);
}

#indhold {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}


#moodboard img {
    width: 30%;
    margin-left: 1vw;
    margin-right: 1vw;

}

#moodboard {
    margin-top: 10vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin-bottom: 10vw;
}

#mood {

    margin-top: 10vw;
    margin-bottom: -8vw;
    font-weight: 100;
    font-size: 1.3em;
    text-align: center;
}

#style_indhold {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    margin-bottom: 10vw;
}

#styletile {
    border: 2px solid black;
    width: 150px;
    height: 50px;
    text-align: center;
    margin-top: 5.1vw;
    margin-left: 2vw;
    transition: 0.2s;
}

#styletile:hover {
    border: 2px solid #e4d0d1;
    width: 150px;
    height: 50px;
    background-color: #e4d0d0;
    transform: scale(1.02);
}

#styletile_tekst h1 {
    font-size: 2em;
}

/* VIDEO OPGAVE OPSÆTNING*/

#cphdox {

    margin-right: 4vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;



}


#cph {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 10vw;


}

#christian {
    width: 600px;

}

#christian h1{
    font-size: 2em;
}

.opgave{
    border: 2px solid black;
    width: 200px;
    text-align: center;
    transition: 0.2s;
}

.opgave:hover{
    width: 200px;
    border: 2px solid #e4d0d1;
    background-color: #e4d0d0;
    transform: scale(1.02);
}


#redesign{
    display: flex;
    flex-wrap: wrap;

}





#afsnit{
    text-align: center;
    margin-top: 12vw;
    font-size: 1.4em;
}

#cafe_redesign {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 5vw;


}

#virksomhed {

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;



}

#redesign{
    width: 500px;
    text-align: left;
    margin-right: 3vw;
}

#redesign h1{
    font-size: 2em;
}



.dokumentation{
    border: 2px solid black;
    width: 200px;
    text-align: center;
    transition: 0.2s;
}

.dokumentation:hover{
    width: 200px;
    border: 2px solid #e4d0d1;
    background-color: #e4d0d0;
    transform: scale(1.02);
}


#con{
    margin-top: 10vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;

}

.cafe_cafe img{
     width: 40%;
    border: 1px solid black;
    margin-left: 1vw;
    margin-right: 1vw;


}

.cafe img{
    width: 40%;
    border: 1px solid black;
    margin-left: 1vw;
    margin-right: 1vw;

}
/* UX OPGAVE OPSÆTNING*/

#keaapp {
    margin-top: 4vw;
    margin-left: 3vw;
}

#keaapp h1 {
    font-weight: 100;
}

#joe {
    margin-top: 4vw;
    margin-left: 3vw;
}

#joe h1 {
    font-weight: 100;
}
